html,
body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;

    background:
        radial-gradient(circle at 30% 20%,
            rgba(200, 120, 255, 0.6),
            transparent 40%),
        radial-gradient(circle at 60% 40%,
            rgba(255, 200, 150, 0.6),
            transparent 45%),
        linear-gradient(180deg,
            #ffffff 0%,
            #ffffff 100%);

    background-repeat: no-repeat;
    background-attachment: fixed;
}

#logo {
    width: 150px;
    height: auto;
}

.collaspse {
    display: flex;
    justify-content: space-evenly;
}

.banner {
    height: 70vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)),
        url("../img/banner2.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.banner2 {
    height: 70vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)),
        url("../img/banner.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.banner1 {
    height: 70vh;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.45),
            rgba(0, 0, 0, 0.45)),
        url("../img/banner1.jpg");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}

.banner-content {
    color: white;
    max-width: 800px;
    padding: 1rem;
}

.banner h1 {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 700;
    letter-spacing: 1px;
}

.banner p {
    font-size: 1.25rem;
    margin-top: 1rem;
}

.products {
    margin: 50px;
    display: flex;
    flex-direction: column;
}

.card-group {
    margin-bottom: 30px;
}
.card-img-top {
    height: 420px;
    object-fit: cover;
}
.card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contenedorHTML .card {
    display: flex;
    flex-direction: column;
}
.card:hover{
    transform: scale(1.0025);
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.buttons button,
.buttons a {
    padding: 14px 28px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 12px;
    border: none;
    background: #e9f0f5;
    color: #2a3b4c;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);

}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}
